In [14]:

def printeven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        print(cnt);
        if(cnt%2==0):
            sum = sum + cnt;
        cnt = cnt + 1;  
    return sum;

print(printeven(20));

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
90

In [16]:
def factorslist(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;

factorslist(12);

1 2 3 4 6

In [ ]:
 list1=[1,2,3,4,5,6];
#entire list1
print(list1);
 #list[0]
print(list1[0]);

In [25]:
list2 = ["Akhil","arvind","anil","akash"];
for x in list2:
    print(x,end=" ");

Akhil arvind anil akash

In [30]:
list1=[1,2,3,4,5,6,7];
for x in list1:
    print(x,end=" ");
print();
print(list1[4]);
print(list1[3:7]);
print(list1[0:3]);
print(list1[:3]);
print(list1[:7]);

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [47]:
list1=[1,2,3,4,5,6,7,8,9,10];
for x in list1:
    print(x,end=" ")
print();
print(list1[1:-1]);
print(list1[2:-2]);
print(list1[::2]);
print(list1[::3]);
print(list1[::4]);
print(list1[::-2]);
print(list1[-1]);
print(list1[-2]);

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
10
9

In [56]:
list1=["anil","adarsh","akhil",1];
print(list1);
list1[2] = 15;
print(list1);
del list1[3];
print(list1);  
list1[1]="Gitam";
print(list1);
list2=[1,2,3];
print(list2);
print(list1+list2);

['anil', 'adarsh', 'akhil', 1]
['anil', 'adarsh', 15, 1]
['anil', 'adarsh', 15]
['anil', 'Gitam', 15]
[1, 2, 3]
['anil', 'Gitam', 15, 1, 2, 3]

In [58]:
list1=[1,2,3,4,5]
print(list1);
del list1[2];
print(list1);
print(len(list1));
list1.append(150);
print(list1);

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 150]

In [66]:
list1=["gitam","python","raptor",1,5,"python","python"];
print(list1)
list1.index("python")
list1.index(1)
print(len(list1))
list1.insert(2,2019)
print(list1)
print(len(list1))
list1.insert(4,2020)
print(list1)
print(len(list1))

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']
9

In [68]:
list1=["gitam","python","raptor",1,5,"python","python"];
print(list1)
list1.remove("python")
print(list1)
list1.remove("python")
print(list1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
['gitam', 'raptor', 1, 5, 'python', 'python']
['gitam', 'raptor', 1, 5, 'python']

In [5]:
def linearsearch(a,taritem):
    flag=0;
    for i in range(len(a)):
        if a[i]==taritem:
            flag=1;
            break
    if(flag!=0):
        print("traget item is found")
    else:
         print("traget item is not found")
a=[16,2,12,6,9,7,1]
linearsearch(a,2)
linearsearch(a,61)

traget item is found
traget item is not found

In [9]:
def linearsearchduplicate(a,taritem):
    flag=0
    for i in range(len(a)):
        if a[i]==taritem:
            flag=flag + 1
         
    print(flag)
a=[9,1,6,1,5,9,15,16]
linearsearchduplicate(a,9)

2